:root {
  --mainorange: #f76e11;
  --orange-fade1: #ff9f45;
  --orange-fade2: #ffbc80;
  --orange-dark: #fc4f4f;
  --white: #fff;
  --black: #071013;
}

/* navbar------------------ */
.navbar-toggler {
  outline: none !important;
  border: none;
  font-size: 2.2rem;
  color: var(--white) !important;
}

.nav-link {
  font-size: 1.5rem;
  border-bottom: 0.1rem solid var(white);
  color: black !important;
}

.nav-link:hover {
  color: var(--orange-fade2) !important;
}

.nav-active {
  border-bottom: 0.1rem solid var(--white);
}

.navbar {
  background-color: var(--orange-dark);
  color: var(--black);
}

.navbar-icon {
  font-size: 1.5rem;
}

.navbar-cart-icon {
  color: var(--black);
  position: relative;
}

.navbar-cart-icon:hover {
  color: var(--white);
}

.cart-items {
  position: absolute;
  top: -50%;
  right: -30%;
  font-size: 1.3rem;
}

/* banner --------------------------- */

.banner {
  /* background: url(/img/bg-1.webp) center/cover; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: white;
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.display {
  z-index: 1000;
}

.btn-orange {
  background: var(--mainorange);
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 2px solid var(--black);
}

.main-heading {
  background-color: rgba(255, 255, 255, 0.444);
}

/* featured------------------ */
.featured-container {
  /* background-color: var(--orange-fade2); */
  border: 2px solid orange;
  position: relative;
  overflow: hidden;
}
.featured-store-link {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0.2rem 0.4rem;
  transform: translateX(110%);
  background-color: var(--mainorange);
  transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.featured-container:hover .featured-store-link {
  transform: translateX(0);
  color: var(--white);
}

.old-price {
  text-decoration: line-through;
}

/* footer ------------ */
footer {
  background-color: var(--orange-dark);
  color: white;
}

.footer-title {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 0.2rem;
}

.footer-icon {
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

/* product ---------------*/

.product {
  margin-top: 6rem;
}

.product-categories-underline {
  height: 0.2rem;
  width: 5rem;
  background-color: var(--mainorange);
}

.products-categories-link {
  color: var(--black);
  text-decoration: none;
}

.products-categories-link:hover {
  color: var(--mainorange);
}

.products-color {
  width: 1rem;
  height: 1rem;
}

.product-color-red {
  background-color: red;
}

.product-color-black {
  background-color: black;
}

.product-color-green {
  background-color: green;
}

.product-color-yellow {
  background-color: orange;
}

.link {
  text-decoration: none;
  color: var(--mainorange);
}

.link:hover {
  color: var(--orange-fade2);
}

/* store --------------- */

.totals {
  margin-top: 5%;
}
